In [ ]:
import pandas as pd
dtrain=pd.read_csv(r"train.csv")

In [ ]:
dtrain.head(10)

,STATION CODE,LOCATIONS,STATE,TEMP,DO,PH,CONDUCTIVITY,BOD,NITRATE,FECAL,Row_Id
0,1312,"GODAVARI AT JAYAKWADI DAM, AURNAGABAD,MAHARASHTRA",MAHARASHTRA,29.2,6.4,8.1,735.0,3.4,2.00,3.0,0
1,2177,GODAVARI RIVER NEAR SOMESHWAR TEMPLE.,MAHARASHTRA,24.5,6.0,8.0,270.0,3.1,2.00,72.0,1
2,2182,GODAVARI RIVER AT SAIKHEDA.,MAHARASHTRA,25.8,5.5,7.8,355.0,4.2,9.00,59.0,2
3,2179,"GODAVARI RIVER AT HANUMAN GHAT, NASHIK CITY.",MAHARASHTRA,24.8,5.5,7.8,371.0,5.6,3.55,90.0,3
4,2183,GODAVARI RIVER AT NANDUR- MADMESHWAR DAM.,MAHARASHTRA,25.7,5.7,7.9,294.0,3.2,2.69,45.0,4
5,2180,GODAVARI RIVER NEAR TAPOVAN.,MAHARASHTRA,24.8,5.2,7.7,475.0,10.3,1.90,122.0,6
6,1096,"GODAVARI AT PANCHAVATI AT RAMKUND,MAHARASHTRA",MAHARASHTRA,26.3,5.6,7.7,385.0,3.8,1.00,110.0,7
7,1211,"GODAVARI AT NASIK D/S, MAHARASHTRA",MAHARASHTRA,26.5,5.2,7.8,410.0,5.2,1.50,77.0,8
8,1095,"GODAVARI AT U/S OF GANGAPUR DAM,NASIK,MAHARASHTRA",MAHARASHTRA,26.0,6.5,7.8,178.0,2.5,1.99,22.0,9
9,2158,GODAVARI RIVER AT U/S OF PAITHAN AT PAITHAN IN...,MAHARASHTRA,29.5,6.4,8.0,834.0,4.7,1.80,2.0,11

In [ ]:
dtrain.isnull().sum()

STATION CODE     0
LOCATIONS        0
STATE            0
TEMP             3
DO               1
PH               0
CONDUCTIVITY    22
BOD              4
NITRATE          1
FECAL           51
Row_Id           0
dtype: int64

In [ ]:
dtrain["TEMP"]=dtrain["TEMP"].fillna(method="bfill")

In [ ]:
lis=["DO","CONDUCTIVITY","BOD","NITRATE","FECAL"]
for i in lis:
    dtrain[i]=dtrain[i].fillna(method="bfill")

In [ ]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
dtrain["LOCATIONS"]=le.fit_transform(dtrain[["LOCATIONS"]])
dtrain["STATE"]=le.fit_transform(dtrain[["STATE"]])

/home/pilli007/anaconda3/lib/python3.10/site-packages/sklearn/preprocessing/_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/pilli007/anaconda3/lib/python3.10/site-packages/sklearn/preprocessing/_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:
dtrainDF

NameError: name 'dtrainDF' is not defined

In [ ]:
dtrain['TEMP_Suitability'] =  dtrain['TEMP'].apply(lambda x: 100 if 0 <= x <= 35 else 0)
dtrain['DO_Suitability'] =    dtrain['DO'].apply(lambda x: 100 if x > 5 else 0)
dtrain['PH_Suitability'] =    dtrain['PH'].apply(lambda x: 100 if 6.5 <= x <= 8.5 else 0)
dtrain['CONDUCTIVITY_Suitability'] = dtrain['CONDUCTIVITY'].apply(lambda x: 100 if x < 1000 else 0)
dtrain['BOD_Suitability'] = dtrain['BOD'].apply(lambda x: 100 if x < 5 else 0)
dtrain['NITRATE_Suitability'] = dtrain['NITRATE'].apply(lambda x: 100 if x < 10 else 0)
dtrain['FECAL_Suitability'] = dtrain['FECAL'].apply(lambda x: 100 if x == 0 else 0)

In [ ]:
dtrain['Suitability_Percentage'] = dtrain[['TEMP_Suitability', 'DO_Suitability', 'PH_Suitability', 'CONDUCTIVITY_Suitability', 'BOD_Suitability', 'NITRATE_Suitability', 'FECAL_Suitability']].mean(axis=1)

In [ ]:
dtrain

,STATION CODE,LOCATIONS,STATE,TEMP,DO,PH,CONDUCTIVITY,BOD,NITRATE,FECAL,Row_Id,TEMP_Suitability,DO_Suitability,PH_Suitability,CONDUCTIVITY_Suitability,BOD_Suitability,NITRATE_Suitability,FECAL_Suitability,Suitability_Percentage
0,1312,123,11,29.2,6.4,8.1,735.0,3.4,2.00,3.0,0,100,100,100,100,100,100,0,85.714286
1,2177,140,11,24.5,6.0,8.0,270.0,3.1,2.00,72.0,1,100,100,100,100,100,100,0,85.714286
2,2182,138,11,25.8,5.5,7.8,355.0,4.2,9.00,59.0,2,100,100,100,100,100,100,0,85.714286
3,2179,135,11,24.8,5.5,7.8,371.0,5.6,3.55,90.0,3,100,100,100,100,0,100,0,71.428571
4,2183,137,11,25.7,5.7,7.9,294.0,3.2,2.69,45.0,4,100,100,100,100,100,100,0,85.714286
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
359,2937,205,13,30.3,5.1,7.9,266.0,0.9,1.08,4.0,526,100,100,100,100,100,100,0,85.714286
360,2938,204,13,21.3,5.0,8.6,604.0,1.2,2.29,4.0,527,100,0,0,100,100,100,0,57.142857
361,2940,111,13,23.2,4.4,8.1,538.0,1.2,1.00,5.0,529,100,0,100,100,100,100,0,71.428571
362,2941,202,13,22.9,5.6,8.4,591.0,1.1,3.00,4.0,530,100,100,100,100,100,100,0,85.714286
363,2942,203,13,22.9,5.8,8.5,588.0,1.2,3.00,4.0,531,100,100,100,100,100,100,0,85.714286

In [ ]:
lis=["TEMP_Suitability","DO_Suitability","PH_Suitability","CONDUCTIVITY_Suitability","BOD_Suitability","NITRATE_Suitability","FECAL_Suitability"]
for i in lis:
    del dtrain[i]

In [ ]:
dtrain

,STATION CODE,LOCATIONS,STATE,TEMP,DO,PH,CONDUCTIVITY,BOD,NITRATE,FECAL,Row_Id,Suitability_Percentage
0,1312,123,11,29.2,6.4,8.1,735.0,3.4,2.00,3.0,0,85.714286
1,2177,140,11,24.5,6.0,8.0,270.0,3.1,2.00,72.0,1,85.714286
2,2182,138,11,25.8,5.5,7.8,355.0,4.2,9.00,59.0,2,85.714286
3,2179,135,11,24.8,5.5,7.8,371.0,5.6,3.55,90.0,3,71.428571
4,2183,137,11,25.7,5.7,7.9,294.0,3.2,2.69,45.0,4,85.714286
...,...,...,...,...,...,...,...,...,...,...,...,...
359,2937,205,13,30.3,5.1,7.9,266.0,0.9,1.08,4.0,526,85.714286
360,2938,204,13,21.3,5.0,8.6,604.0,1.2,2.29,4.0,527,57.142857
361,2940,111,13,23.2,4.4,8.1,538.0,1.2,1.00,5.0,529,71.428571
362,2941,202,13,22.9,5.6,8.4,591.0,1.1,3.00,4.0,530,85.714286
363,2942,203,13,22.9,5.8,8.5,588.0,1.2,3.00,4.0,531,85.714286

In [ ]:
xtrain=dtrain.iloc[:,1:10]

In [ ]:
xtrain

     LOCATIONS  STATE  TEMP   DO   PH  CONDUCTIVITY  BOD  NITRATE  FECAL
0          123     11  29.2  6.4  8.1         735.0  3.4     2.00    3.0
1          140     11  24.5  6.0  8.0         270.0  3.1     2.00   72.0
2          138     11  25.8  5.5  7.8         355.0  4.2     9.00   59.0
3          135     11  24.8  5.5  7.8         371.0  5.6     3.55   90.0
4          137     11  25.7  5.7  7.9         294.0  3.2     2.69   45.0
..         ...    ...   ...  ...  ...           ...  ...      ...    ...
359        205     13  30.3  5.1  7.9         266.0  0.9     1.08    4.0
360        204     13  21.3  5.0  8.6         604.0  1.2     2.29    4.0
361        111     13  23.2  4.4  8.1         538.0  1.2     1.00    5.0
362        202     13  22.9  5.6  8.4         591.0  1.1     3.00    4.0
363        203     13  22.9  5.8  8.5         588.0  1.2     3.00    4.0

[364 rows x 9 columns]

In [ ]:
ytrain=dtrain.Suitability_Percentage

In [ ]:
ytrain

0      85.714286
1      85.714286
2      85.714286
3      71.428571
4      85.714286
         ...
359    85.714286
360    57.142857
361    71.428571
362    85.714286
363    85.714286
Name: Suitability_Percentage, Length: 364, dtype: float64

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [ ]:
rr= RandomForestRegressor(n_estimators=9, random_state=42)

In [ ]:
rr.fit(xtrain, ytrain)

RandomForestRegressor(n_estimators=9, random_state=42)

In [ ]:
dtest=pd.read_csv(r"test.csv")

In [ ]:
dtest.head(10)

,STATION CODE,LOCATIONS,STATE,TEMP,DO,PH,CONDUCTIVITY,BOD,NITRATE,FECAL,Row_Id
0,2181,GODAVARI RIVER AT KAPILA- GODAVARI CONFLUENCE ...,MAHARASHTRA,25.0,16.5,16.86,14.04,0.0,2.8,16.86,5
1,2160,"GODAVARI RIVER AT U/S OF AURANGABAD RESERVOIR,...",MAHARASHTRA,29.2,16.5,28.10,18.72,0.0,2.8,28.10,10
2,2159,GODAVARI RIVER AT D/S OF PAITHAN AT PATHEGAON ...,MAHARASHTRA,30.2,16.5,28.10,18.72,0.0,2.8,28.10,12
3,12,"GODAVARI AT DHALEGAON, MAHARASHTRA",MAHARASHTRA,27.2,16.5,28.10,18.72,0.0,2.8,28.10,14
4,2157,GODAVARI RIVER AT LATUR WATER INTAKE NEAR PUMP...,MAHARASHTRA,26.0,16.5,28.10,18.72,0.0,2.8,28.10,16
5,2360,"GODAVARI AT BASARA, ADILABAD",ANDHRA PRADESH,28.0,16.5,22.48,23.40,0.0,2.8,22.48,17
6,2364,"GODAVARI AT RAMAGUNDAM U/S , KARIMNAGAR",ANDHRA PRADESH,30.5,6.6,28.10,14.04,0.0,2.8,16.86,21
7,2356,"GODAVARI, D/S OF RAMANUGUNDAM,",ANDHRA PRADESH,29.0,16.5,16.86,14.04,0.0,2.8,16.86,22
8,2365,GODAVARI AT KAMALPUR U/S M/S AP RAYONS LTD. IN...,ANDHRA PRADESH,30.0,16.5,28.10,14.04,0.0,2.8,16.86,23
9,2367,"GODAVARI AT BHADRACHALAM U/S BATHING GHAT, KHA...",ANDHRA PRADESH,20.0,16.5,28.10,23.40,0.0,2.8,28.10,26

In [ ]:
dtest.isnull().sum()

STATION CODE    0
LOCATIONS       0
STATE           0
TEMP            2
DO              0
PH              0
CONDUCTIVITY    0
BOD             0
NITRATE         0
FECAL           0
Row_Id          0
dtype: int64

In [ ]:
dtest["TEMP"]=dtest["TEMP"].fillna(method="bfill")

In [ ]:
dtest["LOCATIONS"]=le.fit_transform(dtest[["LOCATIONS"]])
dtest["STATE"]=le.fit_transform(dtest[["STATE"]])

C:\ANACONDA\lib\site-packages\sklearn\preprocessing\_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\ANACONDA\lib\site-packages\sklearn\preprocessing\_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:
dtest['TEMP_Suitability'] =  dtest['TEMP'].apply(lambda x: 100 if 0 <= x <= 35 else 0)
dtest['DO_Suitability'] =    dtest['DO'].apply(lambda x: 100 if x > 5 else 0)
dtest['PH_Suitability'] =    dtest['PH'].apply(lambda x: 100 if 6.5 <= x <= 8.5 else 0)
dtest['CONDUCTIVITY_Suitability'] = dtest['CONDUCTIVITY'].apply(lambda x: 100 if x < 1000 else 0)
dtest['BOD_Suitability'] = dtest['BOD'].apply(lambda x: 100 if x < 5 else 0)
dtest['NITRATE_Suitability'] = dtest['NITRATE'].apply(lambda x: 100 if x < 10 else 0)
dtest['FECAL_Suitability'] = dtest['FECAL'].apply(lambda x: 100 if x == 0 else 0)

In [ ]:
dtest['Suitability_Percentage'] = dtest[['TEMP_Suitability', 'DO_Suitability', 'PH_Suitability', 'CONDUCTIVITY_Suitability', 'BOD_Suitability', 'NITRATE_Suitability', 'FECAL_Suitability']].mean(axis=1)

In [ ]:
dtest

,STATION CODE,LOCATIONS,STATE,TEMP,DO,PH,CONDUCTIVITY,BOD,NITRATE,FECAL,Row_Id,Suitability_Percentage
0,2181,64,10,25.0,16.5,16.86,14.04,0.0,2.8,16.86,5,71.428571
1,2160,66,10,29.2,16.5,28.10,18.72,0.0,2.8,28.10,10,71.428571
2,2159,63,10,30.2,16.5,28.10,18.72,0.0,2.8,28.10,12,71.428571
3,12,60,10,27.2,16.5,28.10,18.72,0.0,2.8,28.10,14,71.428571
4,2157,65,10,26.0,16.5,28.10,18.72,0.0,2.8,28.10,16,71.428571
...,...,...,...,...,...,...,...,...,...,...,...,...
165,2935,97,12,26.1,16.5,16.86,23.40,0.0,2.8,28.10,524,71.428571
166,2936,74,12,24.4,16.5,16.86,23.40,0.0,2.8,28.10,525,71.428571
167,2939,98,12,21.2,13.2,16.86,23.40,0.0,2.8,28.10,528,71.428571
168,2943,101,12,28.7,16.5,16.86,23.40,0.0,2.8,22.48,532,71.428571
169,2944,75,12,24.3,6.6,11.24,14.04,0.0,2.8,22.48,533,71.428571

In [ ]:
lis=["TEMP_Suitability","DO_Suitability","PH_Suitability","CONDUCTIVITY_Suitability","BOD_Suitability","NITRATE_Suitability","FECAL_Suitability"]
for i in lis:
    del dtest[i]

In [ ]:
xtest=dtest.iloc[:,1:10]

In [ ]:
xtest

     LOCATIONS  STATE  TEMP    DO     PH  CONDUCTIVITY  BOD  NITRATE  FECAL
0           64     10  25.0  16.5  16.86         14.04  0.0      2.8  16.86
1           66     10  29.2  16.5  28.10         18.72  0.0      2.8  28.10
2           63     10  30.2  16.5  28.10         18.72  0.0      2.8  28.10
3           60     10  27.2  16.5  28.10         18.72  0.0      2.8  28.10
4           65     10  26.0  16.5  28.10         18.72  0.0      2.8  28.10
..         ...    ...   ...   ...    ...           ...  ...      ...    ...
165         97     12  26.1  16.5  16.86         23.40  0.0      2.8  28.10
166         74     12  24.4  16.5  16.86         23.40  0.0      2.8  28.10
167         98     12  21.2  13.2  16.86         23.40  0.0      2.8  28.10
168        101     12  28.7  16.5  16.86         23.40  0.0      2.8  22.48
169         75     12  24.3   6.6  11.24         14.04  0.0      2.8  22.48

[170 rows x 9 columns]

In [ ]:
ytest=dtest.Suitability_Percentage

In [ ]:
ytest

0      71.428571
1      71.428571
2      71.428571
3      71.428571
4      71.428571
         ...
165    71.428571
166    71.428571
167    71.428571
168    71.428571
169    71.428571
Name: Suitability_Percentage, Length: 170, dtype: float64

In [ ]:
y_pred = rr.predict(xtest)

In [ ]:
mae = mean_absolute_error(ytest, y_pred)
rmse = mean_squared_error(ytest, y_pred, squared=False)
r2 = r2_score(ytest, y_pred)

In [ ]:
print(f'Mean Absolute Error: {mae}')
print(f'Root Mean Squared Error: {rmse}')
print(f'R-squared: {r2}')

Mean Absolute Error: 0.8029878618113914
Root Mean Squared Error: 2.512695080135552
R-squared: 0.7124239066985929

In [ ]:
y_pred

array([74.14285714, 74.14285714, 74.14285714, 74.14285714, 74.14285714,
       74.14285714, 74.14285714, 74.14285714, 74.14285714, 74.14285714,
       74.14285714, 74.14285714, 74.14285714, 74.14285714, 74.14285714,
       82.85714286, 82.85714286, 74.14285714, 74.14285714, 74.14285714,
       74.14285714, 74.14285714, 74.14285714, 74.14285714, 74.14285714,
       74.14285714, 82.85714286, 82.85714286, 82.85714286, 74.14285714,
       74.14285714, 74.14285714, 74.14285714, 74.14285714, 74.14285714,
       74.14285714, 74.14285714, 74.14285714, 74.14285714, 74.14285714,
       74.14285714, 74.14285714, 74.14285714, 84.71428571, 82.85714286,
       74.14285714, 74.14285714, 74.14285714, 82.85714286, 74.14285714,
       82.85714286, 82.85714286, 82.85714286, 74.14285714, 74.14285714,
       74.14285714, 74.14285714, 82.85714286, 86.85714286, 74.14285714,
       74.14285714, 77.14285714, 74.14285714, 74.14285714, 74.14285714,
       74.14285714, 74.14285714, 74.14285714, 74.14285714, 77.14285714,
       74.14285714, 74.14285714, 74.14285714, 74.14285714, 74.14285714,
       74.14285714, 74.14285714, 77.14285714, 74.14285714, 84.71428571,
       74.14285714, 74.14285714, 74.14285714, 74.14285714, 74.14285714,
       74.14285714, 74.14285714, 74.14285714, 77.14285714, 77.14285714,
       74.14285714, 74.14285714, 74.14285714, 82.85714286, 76.14285714,
       74.14285714, 74.14285714, 74.14285714, 74.14285714, 74.14285714,
       74.14285714, 74.14285714, 74.14285714, 74.14285714, 74.14285714,
       74.14285714, 74.14285714, 74.14285714, 74.14285714, 74.14285714,
       74.14285714, 74.14285714, 74.14285714, 74.14285714, 74.14285714,
       74.14285714, 74.14285714, 67.14285714, 74.14285714, 67.14285714,
       74.14285714, 74.14285714, 74.14285714, 74.14285714, 74.14285714,
       74.14285714, 74.14285714, 74.14285714, 74.14285714, 74.14285714,
       74.14285714, 74.14285714, 74.14285714, 74.14285714, 74.14285714,
       74.14285714, 74.14285714, 74.14285714, 74.14285714, 74.14285714,
       67.57142857, 74.14285714, 74.14285714, 77.14285714, 74.14285714,
       74.14285714, 74.14285714, 69.        , 74.14285714, 74.14285714,
       74.14285714, 74.14285714, 74.14285714, 74.14285714, 74.14285714,
       74.14285714, 77.14285714, 74.14285714, 74.14285714, 74.14285714,
       74.14285714, 74.14285714, 74.14285714, 74.14285714, 74.14285714,
       74.14285714, 74.14285714, 74.14285714, 74.14285714, 76.14285714])

In [ ]:
pred_df=pd.DataFrame({
    'Row_Id' : dtest["Row_Id"],
    "Suitability" : y_pred,
})
pred_df.to_csv("result1.csv", index=False)